{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone</title>
    <link rel="stylesheet" href=" {% static 'css/home.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <h3><a href="https://www.github.com" target="_blank" class="alert-link" style="text-align: center;">GitHub</a> Analyser</h3>
    <!-- {% include 'alerts.html' %} -->
    <!-- <img src="/media/network analysis.jpg" alt="Analysis" style='max-width:200px;max-height:200px;text-align:center;border-radius:80%' > -->
    
    <!-- <div class="floater">
        <ul>
            <li><a href="/">Home</a></li>
			<li><a href="/job_recom">Job Recommender</a></li>
			<li><a href="/">Skill search</a></li>
        </ul>
    </div> -->
    <form action="result", method="POST">
        {% csrf_token %}
        <div class="container-md" style="text-align: center; margin-top: 20px">
            <ul>
                <input type="analyse" name="github_username" placeholder="Github_Username" required>
                <input type="submit" class="btn btn-outline-primary btn-sm" value="Analyse">
            </ul>
        </div>
        {% include 'alerts.html' %}
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            setTimeout(function(){
                $('.alert').slideUp(1000);
            }, 5000);
            });
    </script>

</body>
</html>