
<nav class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: rgb(188, 220, 228);">
    <a class="navbar-brand" href="/">AR Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="container-md" style="text-align: center;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">GitHub Aanalyser<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/job_recom">Job Recommender<span class="sr-only">(current)</span></a>
          </li> <br>
        </ul>
      </div>
    </div>

  </nav>